/* 
      .--..--..--..--..--..--.
    .' \  (`._   (_)     _   \
  .'    |  '._)         (_)  |
  \ _.')\      .----..---.   /
  |(_.'  |    /    .-\-.  \  |
  \     0|    |   ( O| O) | o|
   |  _  |  .--.____.'._.-.  |
   \ (_) | o         -` .-`  |
    |    \   |`-._ _ _ _ _\ /
    \    |   |  `. |_||_|   |
    | o  |    \_      \     |     -.   .-.
    |.-.  \     `--..-'   O |     `.`-' .'
  _.'  .' |     `-.-'      /-.__   ' .-'
.' `-.` '.|='=.='=.='=.='=|._/_ `-'.'
`-._  `.  |________/\_____|    `-.'
   .'   ).| '=' '='\/ '=' |
   `._.`  '---------------'
           //___\   //___\
             ||       ||
             ||_.-.   ||_.-.
            (_.--__) (_.--__)
       

 Insert all your glorious CSS styles below! */
/* galindo-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Galindo';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/galindo-v26-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* rambla-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Rambla';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/rambla-v14-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

nav ul {
  word-spacing: 10px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: #333333;
  display: flex;	
  justify-content: center;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float: left;
}

nav ul li a:hover {
  background-color: #111111;
}

#flexstart {
  justify-content: flex-start;
}

#center {
  align-items: center;
}

html {font-size: 16px;}

body {
  background: transparent url(images/old-film-strip-frame.jpg);
  background-repeat: repeat;
  font-family: 'rambla', sans-serif;
  font-weight: false;
  line-height: 1.65;
  padding: 0 20px 20px 20px;
  margin: 0;
}

p {
  font-size: 1em;
  color: #ffffff;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Galindo', sans-serif;
  font-weight: true;
  line-height: 1.15;
}

h1,
.text-size-h1 {
  font-family: 'Galindo', sans-serif;
  font-weight: 700;
  margin-top: 0;
  font-size: 3.05em;
  color: #ffffff;
}

h2,
.text-size-h2 { font-size: 2.44em; }

h3,
.text-size-h3 { font-size: 1.95em; }

h4,
.text-size-h4 { font-size: 1.56em; }

h5,
.text-size-h5 { font-size: 1.25em; }

.text-caption { font-size: 0.8em; }

small,
.text-small {
  font-size: 0.64em;
}
              
footer {
    border-style: dotted;
    border-width: 2px; 
	display: block;
	text-align: center;
    background-color: DarkSalmon;
	padding: 3px;
    color: white;
}

.buttons {
      padding: 10px 0px;
      position: relative;
      text-align: center;
	  width: 100%;
      color: rgb(255,59,59);
}

.buttons a {
        background: rgb(0, 0, 139);
        border: 1px solid gray;   
	    border-radius: 4px;
        color: #f0e33f;
        margin: 2px;
        padding: 2px;
        text-decoration: none;
        font-size: 12px;
}

.buttons a:hover {
        background: white;
        border: 1px solid #131713;
        color: #131713;
      transform: scale(1.5);
}

.container {
 display: flex;
 flex-direction: column; 
 padding: 10px;
 margin: 0 auto;
}
